{% extends 'home/master.html' %}

{% block title %}
Login
{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="icon" href="{% static 'favicon/contact.png' %}" type="image/png">
{% endblock %}

{% block content %}

<main>
    <section id="contact-form-section">
        <h2>Login</h2>
        <div class="form-div">
            <form id="contact-form" action="" method="post">

                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Login" />
            </form>
        </div>
    </section>
</main>
{% endblock %}