<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobZila</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>

    <header>
      <h1>Job Zila</h1>

      <nav>
        <ul>
          <li><a href="{% url 'homepage' %}">Home</a></li>
          <li><a href="#">Job Search</a></li>
          <li><a href="#">Job Listing</a></li>
          <li><a href="#">Job Listing Json</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="hero">
        <section id="hero-section">
          <h2>Welcome to JobZila</h2>
          <p class="vission-statment">
            Our Vision: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque in odio ac risus vestibulum tincidunt vel et eros. Integer
            vulputate turpis eget accumsan rhoncus. Etiam vitae risus in sem
            blandit ullamcorper et nec tortor. Fusce id commodo felis, id
            dapibus justo. Proin faucibus, enim id sagittis tincidunt, metus
            justo iaculis libero, non hendrerit est ipsum sit amet metus.
          </p>
        </section>
      </section>
    </main>

    <footer>
      <p>
        &copy; 2024 My Job Board. All rights reserved. |
        <a href="{% url 'contact_us' %}">Contact Us</a> | <a href="#">Terms</a> | <a href="#">Privacy</a>
      </p>
    </footer>
  </body>
</html>