{% extends 'home/master.html' %}

{% block title %}
Job Listings
{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="icon" href="{% static 'favicon/listing.png' %}" type="image/png">
{% endblock %}

{% block content %}
<main>
<section id="job-listings" class="container">
  <h2>Job Listings</h2>
  <div id="job-listings-container">
    {% for job in jobs %}
      <div class="job-listing">
        <h3>{{ job.title }}</h3>
        <p>{{ job.company }}</p>
        <p>{{ job.location }}</p>
        <p>{{ job.description }}</p>
        <a href="{{ job.apply_link }}" target="_blank">Apply Now</a>
      </div>
    {% empty %}
      <p>No job listings available.</p>
    {% endfor %}
  </div>
</section>
</main>
{% endblock %}