<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Jobzila{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Optional: Add extra head block for custom favicons or other content -->
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    
    <header>

      <h1>Job Zila</h1>
      
      <nav>
        <ul>
          <li><a href="{% url 'homepage' %}">Home</a></li>
          <li><a href="{% url 'job_search' %}">Job Search</a></li>
          <li><a href="{% url 'job_listings'%}">Job Listings</a></li>
          <li><a href="{% url 'blog_list' %}">Blogs</a></li>
          <li><a href="{% url 'terms'%}">Terms of Service</a></li>
          <li><a href="{% url 'privacy'%}">Privacy Policy</a></li>
          <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
        </ul>

        <!-- Login/Logout Button on the Far Right -->
        <ul class="navbar-right">

          <!-- Use a form to submit a POST request for logout -->
          {% if user.is_authenticated %}
          <li>
            <form method="POST" action="{% url 'logout' %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" style="color: #ffffff !important;
              text-decoration: none !important;
              text-size: 16px;
              padding: 10px 20px !important;
              background-color: #333 !important;
              border-radius: 5px !important;
              cursor: pointer;">
                Logout
              </button>
            </form>
          </li> <!-- Logout link for authenticated users -->
          {% else %} 

            <li><a href="{% url 'login' %}">Login</a></li> <!-- Login link for unauthenticated users -->
          {% endif %}
        </ul>

      </nav>
    </header>

    <main>
      {% block content %}
      <!-- Page-specific content will go here -->
      {% endblock %}
    </main>

    <footer>
      <p>
        &copy; 2024 My Job Board. All rights reserved. |
        <a href="{% url 'contact_us' %}">Contact Us</a> | 
        <a href="{% url 'terms'%}">Terms</a> | 
        <a href="{% url 'privacy'%}">Privacy</a>
      </p>
    </footer>

  </body>
</html>