{% extends 'home/master.html' %}

{% block title %}Contact Submissions{% endblock %}

{% block content %}
<main>
  <section id="view-contacts">
    <h2>Contact Form Submissions</h2>
    <ul>
      {% for contact_form in contact_form %}
        <li>
          <strong>{{ contact_form.name }}</strong> ({{ contact_form.email }}) - {{ contact_form.message }}
          <p><small>Submitted on {{ contact_form.submitted_at }}</small></p>
        </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock %}